body{
    background-color: #ececec;
}
.firstCol{
    display: block;
    text-align: center;
    margin: auto;

}
#logo{
    height: 106px;
    padding: 112px 0 0;
}
#fb-alt-txt{
    display: block;
    margin-left: 55px;
    font-size: 24px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-weight: normal;
    width: 396px;
    padding: 0 0 20px;
    text-align: left;
    margin-top: auto;
   
}
.login-container{
    margin: auto 45px;
    text-align: center;
}
#form {
    max-width: 350px;
    margin-top: 10vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  
  input[type="text"],
  textarea {
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
  }
  
select{
    font-weight: bold;
    margin-bottom: 10px;
}

#submit {
    height: 40px;
    width: 340px;
    margin: auto;
    border: none;
    border-radius: 6px;
    background-color: #1877f2;
    color: #f5f5f5;
    text-align: center;
    cursor: pointer;
}
#forgot-link{
    text-align: center;
}
#open-registration-form {
    height: 40px;
    width: 240px;
    margin: auto;
    border: none;
    border-radius: 6px;
    background-color: #42b72a;
    color: #f5f5f5;
    text-align: center;
    cursor: pointer;
}
button:hover::before {
    content: "Registration Form";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1877f2;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s;
}

button::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1877f2;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
}
#registration-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none; /* Initially hide the form */
}
